<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ssmdemo22.demos.mapper.StudentLatenciesInfoMapper">

    <select id="getStudentLatenciesInfoByStudentLatenciesInfo" parameterType="com.example.ssmdemo22.demos.entity.StudentLatenciesInfo" resultType="com.example.ssmdemo22.demos.entity.StudentLatenciesInfo">
        select * from user
        <where>
            <if test="studentLatenciesInfoId!= null">
                and id = #{studentLatenciesInfoId}
            </if>
            <if test="studentLatenciesInfoName!= null">
                and name = #{studentLatenciesInfoName}
            </if>
            <if test="studentLatenciesInfoAge!= null">
                and age = #{studentLatenciesInfoAge}
            </if>
        </where>
    </select>
</mapper>